respeqt.pro.user
a.xml
1020_text2.pdf
.qmake.stash
1020_text2.ps
Ohne Titel.pdf
test.xml
.DS_Store
build
.idea
ui_*.*
/cmake-build-debug/
/cmake-build-release/
/cmake-build-test-debug/
/cmake-build-test-release/
/Makefile
*.cas
Testing
*.json
*.pro.user*